* {
    margin: 0;
    overflow: hidden;
}

#render {
    /* Fallback */
    height: 100vh;
    width: 100vw;
    
    /* Modern Browsers */
    height: 100dvh;
    width: 100dvw;
    
    background-color: black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
